@charset "utf-8";
/* CSS Document */
.wrap { width:1550px; margin:0 auto; }
.mobile { display:none; }
/*///// 헤더 시작 ///// */
header { position:fixed; width:1550px; z-index:999; }

.logo { position:absolute; width:130px; height:50px; margin:32px 0 0 110px; z-index:99; transition:all 0.4s ease-in; }
.logo a img { transition:all 0.8s ease-out; }
.logo a:hover img { 
	-moz-transform:rotate(-4deg) -moz-rotate3d(1, 0, 0, 360deg);
	-webkit-transform:rotate(-4deg) -webkit-rotate3d(1, 0, 0, 360deg);
	-o-transform:rotate(-4deg) -o-rotate3d(1, 0, 0, 360deg);
	-ms-transform:rotate(-4deg) -ms-rotate3d(1, 0, 0, 360deg);
	transform:rotate(-4deg) rotate3d(1, 0, 0, 360deg); 
}

nav .gnb { height:140px; transition:all 0.4s ease-in-out; }
nav .gnb-bg { 
	position:fixed; width:1550px; height:140px;
	overflow:hidden;
	transition:all 0.5s ease-in-out;
	z-index:9; 
}
nav .gnb-bg-color { 
	position:absolute; width:1700px; height:140px; margin-top:-33px; margin-left:-30px;  
	background:rgba(44,44,44,0.65); 
	transform:rotate(-2.3deg); 
	transition:all 0.5s ease-in-out;
}
nav .gnb-bg-fixed{ height:100px; }
nav .gnb-bg-color-fixed { background:rgba(44,44,44,1); transform:rotate(0deg); }


nav .gnb ul { position:relative; height:140px; margin-left:515px; z-index:99; transition:all 0.2s ease-in; }
nav .gnb ul li { float:left; margin-top:-9px;}
nav .gnb ul li a{ 
	width:140px; padding:0 20px;	
	font-family:"BGR", sans-serif; 
 	font-size:16px; color:#FFF; text-align:center; line-height:150px; 
	text-shadow:1px 1px 1px #000;
	transition:all 0.4s ease; 
}
nav .gnb ul li:first-child a { padding-left:0; }
nav .gnb ul li:nth-child(3) a { width:160px; }
nav .gnb ul li:last-child a { margin-left:-10px; width:160px; }
nav .gnb ul li a:hover { color:#B6D971; }
nav .gnb ul li a .line { margin:-64px 0 0 -2px; width:125px; border:1px solid #B6D971;  opacity:0; transition:all 0.6s ease;  }
nav .gnb ul li a:hover .line { display:block; box-shadow:1px 1px 1px #000; opacity:1; }
nav .gnb ul li:nth-child(2) a .line { width:105px; }

.fixed { width:1550px; height:100px; z-index:8; }
.fixed ul { margin-top:-4px; }
.fixed .logo { margin-top:28px; }

/*///// 헤더 끝 ///// */

/* ///// 슬라이드 시작 ///// */
/* ///// 슬라이드 공통 시작 ///// */
.slider { width:1550px; height:900px; margin-bottom:300px; overflow:hidden; }
.slider h1 { font-family:'NSR';  font-size:100px; font-weight:300; color:#FFF; text-shadow:2px 2px 2px #000; }
.slider p { font-family:'MTH'; font-size:33px; color:#FFF; text-shadow:2px 2px 2px #000; }
.slider .btn { 
	width:200px; height:70px;	
	border:2px solid #FFF; border-radius:35px; 
	background:rgba(0,0,0,0.4) url(../imgs/arrow.png) no-repeat 110px 30px;
	transition:all 0.4s ease;
}
.slider .btn:hover { background:rgba(0,0,0,0.85) url(../imgs/arrow.png) no-repeat 120px 30px; }
.slider .btn a.btn-text { padding-left:35px; font-family:'NSC'; font-size:20px; color:#FFF; text-align:left; line-height:60px; }
.slider .slide1, .slider .slide2, .slider .slide3, .slider .slide4  { position:relative; height:900px; }
.slider .slide1 .slide-text, .slider .slide2 .slide-text, .slider .slide3 .slide-text, .slider .slide4 .slide-text { position:absolute; width:1550px; height:900px; }
.slider .slide1 .slide-text > p, .slider .slide2 .slide-text > p, .slider .slide3 .slide-text > p, .slider .slide4 .slide-text > p { margin-top:20px; padding-left:10px;  border-left:6px solid #F26B66; }

/* ///// 슬라이드 공통 끝 ///// */
.slider .slide1 .slide-text { background:url(../imgs/4kslide1.jpg) no-repeat left top; }
.slider .slide1 .slide-text h1.st1 { margin-left:510px; margin-top:260px; }
.slider .slide1 .slide-text h1.st2 { margin-left:580px; margin-top:-10px; }
.slider .slide1 .slide-text span { color:#F26B66; }
.slider .slide1 .slide-text > p { margin-left:520px; }
.slider .slide1 .slide-text > .btn { margin-left:515px; margin-top:55px; }


.slider .slide2 .slide-text { background:url(../imgs/4kslide2.jpg) no-repeat left top; }
.slider .slide2 .slide-text h1.st1 { margin-left:100px; margin-top:260px; }
.slider .slide2 .slide-text h1.st2 { margin-left:175px; margin-top:-10px; }
.slider .slide2 .slide-text span { color:#FDC168; }
.slider .slide2 .slide-text > p { margin-left:105px; }
.slider .slide2 .slide-text > .btn { margin-left:100px; margin-top:55px; }


.slider .slide3 .slide-text {  background:url(../imgs/4kslide3.jpg) no-repeat left top; }
.slider .slide3 .slide-text h1.st1 { margin-left:875px; margin-top:260px; }
.slider .slide3 .slide-text h1.st2 { margin-left:950px; margin-top:-10px; }
.slider .slide3 .slide-text span { color:#B6D971; }
.slider .slide3 .slide-text > p { margin-left:880px; }
.slider .slide3 .slide-text > .btn { margin-left:875px; margin-top:55px; }


.slider .slide4 .slide-text { background:url(../imgs/4kslide4.jpg) no-repeat left top; }
.slider .slide4 .slide-text h1.st1 { margin-left:100px; margin-top:260px; }
.slider .slide4 .slide-text h1.st2 { margin-left:175px; margin-top:-10px; }
.slider .slide4 .slide-text span { color:#FDC168; }
.slider .slide4 .slide-text > p { margin-left:105px; }
.slider .slide4 .slide-text > .btn { margin-left:100px; margin-top:55px; }

/*///// 슬라이드 끝 ///// */


/*///// 아티클 시작 /////*/
/*///// 아티클 공통 시작 /////*/
article { margin-top:85px; }
article:first-child { margin-top:200px } /* 아티클의 여백을 다르게 주기위해 아티클을 두개로 나눔 */
article .hover14 div figure { position:relative; width:773px; height:460px; }
article .att-wrap, article .hap-wrap { width:1550px; margin:0 auto; }
article h3 { width:490px; font-family:'BGR'; line-height:37px; font-size:37px; color:#333; }
article .att-wrap .att-content, article .hap-wrap .hap-content { width:1515px; height:475px; margin:45px auto 0 auto; }
article .att-wrap .att-img, article .hap-wrap .hap-img { width:780px; height:470px; }
article .att-wrap .att-text, article .hap-wrap .hap-text { width:340px; margin:140px 77px; }
article p { font-family:'NG'; font-size:16px; font-weight:500; line-height:22px; }
article .att-wrap .att-btn a, article .hap-wrap .hap-btn a { font-size:16px; font-weight:bold; color:#FFF; text-align:center; line-height:55px; }
article .att-wrap .att-btn, article .hap-wrap .hap-btn { 
	font-family:'NG'; margin-top:90px;
	width:180px; height:59px;
	border-radius:10px; background:#F26B66; 
	transition:all 0.4s ease-in;
}
article .att-wrap .att-point-line, article .hap-wrap .hap-point-line { 
	width:30px; margin-top:-100px;  
	border-bottom:2px solid #F26B66;
	transition:width 0.4s ease-in; 
}
article .att-wrap .att-btn:hover+.att-point-line, article .hap-wrap .hap-btn:hover+.hap-point-line { width:350px; }
article .att-wrap .att-bar, article .hap-wrap .hap-bar { width:225px; height:474px; }
.att-bg, .hap-bg { width:50%; height:360px; margin-top:139px; z-index:-9; }

/*///// 아티클 공통 끝 /////*/

article .att-wrap h3 { margin-left:70px; }
article .att-wrap .att-content > div { float:left; }
article .att-wrap .att-img { 	margin-left:45px;	background:url(../imgs/art_img1.jpg) no-repeat center center, url(../imgs/art_shadow.png) no-repeat center center; }
article .att-wrap .att-bar { 
	float:right; margin-right:-40px;
	background:url(../imgs/bar_right.png) no-repeat center center, url(../imgs/bar_shadow.png) center center; 
}
.att-bg {	position:absolute; left:50%; background:url(../imgs/art_bg.jpg) repeat-x left center, url(../imgs/art_bg_shadow.png) repeat-x left bottom;	 }


article .hap-wrap h3 { margin-left:715px; }
article .hap-wrap .hap-content > div { float:right; }
article .hap-wrap .hap-img { margin-right:45px; background:url(../imgs/art_img2.jpg) no-repeat center center, url(../imgs/art_shadow.png) no-repeat center center; }
article .hap-wrap .hap-bar { 
	float:left; margin-left:-50px;
	background:url(../imgs/bar_left.png) no-repeat center center, url(../imgs/bar_shadow.png) center center; 
}
.hap-bg { position:absolute; right:50%; background:url(../imgs/art_bg2.jpg) repeat-x left center, url(../imgs/art_bg_shadow.png) repeat-x left bottom;	 }
/*///// 아티클 끝 ///// */

/*///// 푸터 시작 ///// */
footer { 
	margin:188px auto 0 auto; height:142px; 
	border-top:1px solid rgba(135,135,135,0.3); border-bottom:1px solid rgba(135,135,135,0.3); 
}
footer .ft-wrap { width:1550px; height:50px; margin:50px auto; }
footer .ft-wrap img { float:left; width:125px; height:43px; margin-left:70px; }
footer .ft-wrap p { float:left; width:1000px; height:43px; margin-left:80px; font-size:12px; text-align:right; line-height:70px; }  
footer .ft-wrap .sns-btn { float:right; width:135px; height:43px; margin-right:70px; }

/*///// 푸터 끝 ///// */